<main class="container mx-auto p-8">
    <div class="flex -mx-6">
        <div class="w-1/4 px-6">
            <h2 class="text-indigo-400 mb-4 font-semibold text-lg tracking-tight">
                My Instruments
            </h2>

            <div class="rounded-md bg-gray-100 shadow-md cursor-pointer">
                <div
                    [ngClass]="{ 'bg-gray-300 font-semibold': selectedInstrument === isin }"
                    class="py-3 px-4 text-base text-gray-600 border-b border-gray-400"
                    (click)="onSelectISIN(isin)"
                    *ngFor="let isin of instruments"
                >
                    {{ isin }}
                </div>
            </div>

            <div class="mt-8">
                <div class="flex">
                    <input
                        type="text"
                        placeholder="Enter ISIN"
                        [formControl]="newISIN"
                        class="rounded-l-md w-full py-3 px-4 focus:outline-none shadow-md"
                    />
                    <button
                        (click)="addInstrument()"
                        class="bg-indigo-400 text-indigo-100 shadow-md rounded-r-md py-3 px-4 focus:outline-none"
                    >
                        Add
                    </button>
                </div>
                <div class="text-red-800 text-sm" *ngIf="newISIN.invalid && newISIN.touched">
                    ISIN incorrect!
                </div>
            </div>
        </div>

        <div class="w-3/4 px-6" *ngIf="selectedInstrument">
            <ng-container *ngIf="selectedInstrumentInfo$ | async as info">
                <div class="flex items-baseline justify-between">
                    <h1 class="text-gray-600 text-2xl mb-8">
                        {{ info.isin }}
                    </h1>

                    <button
                        (click)="deleteInstrument(info.isin)"
                        class="bg-transparent focus:outline-none text-red-700 border-b-2 border-transparent hover:border-red-700"
                    >
                        Delete
                    </button>
                </div>
                <div class="grid grid-cols-3 gap-6">
                    <div
                        class="flex items-center justify-center flex-col bg-gray-100 rounded-md shadow-md py-3 px-4"
                    >
                        <p class="leading-none text-gray-600 pb-2">Price</p>
                        <h1 class="text-4xl text-indigo-400">{{ info.price | currency: 'EUR' }}</h1>
                    </div>
                    <div
                        class="flex items-center justify-center flex-col bg-gray-100 rounded-md shadow-md py-3 px-4"
                    >
                        <p class="leading-none text-gray-600 pb-2">Bid Price</p>
                        <h1 class="text-4xl text-indigo-400">{{ info.bid | currency: 'EUR' }}</h1>
                    </div>
                    <div
                        class="flex items-center justify-center flex-col bg-gray-100 rounded-md shadow-md py-3 px-4"
                    >
                        <p class="leading-none text-gray-600 pb-2">Asking Price</p>
                        <h1 class="text-4xl text-indigo-400">{{ info.ask | currency: 'EUR' }}</h1>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</main>

<!-- Hack tailwind: whitelist classes -->
<div class="hidden bg-gray-300 font-semibold"></div>
